.checkbox-container {
  padding-right: 20px;
}

.dropdown-checkbox {
  border:2px solid #ccc; height: 300px; overflow-y: scroll;
}

.right-aligned {
  float: right;
}

.chart-container {
  border-left: 2px;
  border-right: 2px;
  border-top: 5px;
  border-bottom: 5px;
  padding-left: 30px;
}
