.checkbox-container {
  /*padding-right: 20px;*/
}

.dropdown-checkbox {
  border:2px solid #ccc;
  height: 300px;
  width: 220px;

  /*
  //margin-left: 20px;
  //padding-left: 10px;
  */
  overflow-y: scroll;
}

.right-aligned {
  float: right;
}

.left-aligned {
  float: left;
}

.chart-container {
  border-left: 2px;
  border-right: 2px;
  margin-top: 10px;
  border-bottom: 5px;
  /*padding-left: 30px;*/
}

.vis-column {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.states-column {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
    vertical-align:top;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.checker {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.checker:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .checker {
    background-color: #2196F3;
}

input:focus + .checker {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .checker:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.checker.round {
    border-radius: 34px;
}

.checker.round:before {
    border-radius: 50%;
}


/** Styles for buttons **/
body { /* just for this demo. */
    padding: 30px;
}
.btn { /* just for this demo. */
    margin-top: 5px;
    font-size: 21px;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 32px; /* same as height */
    height: 32px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -14px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -14px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}
